.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json